a{
    font-family:tahoma;
    font-size:16px;
    padding: 10px 20px;
}
a:link{
    text-decoration: none;
    color:#fff;
    background: #333;
}

a:visited{
    background:red;
    color:yellow;
}

a:hover{
    background:purple;
    color:red;
}
a:active{
    background:green;
    color:black;
}